LR 8/Pr.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="header">
		<xs:sequence>
			<xs:element type="xs:string" name="ph1"/>
			<xs:element type="xs:string" name="ph2"/>
			<xs:element type="xs:string" fixed="" name="border"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paragraph" mixed="true">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element type="xs:string" name="a" minOccurs="0"/>
				<xs:element type="xs:string" name="light" minOccurs="0"/>
				<xs:element type="paragraph" name="center" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="image">
		<xs:sequence>
			<xs:element type="xs:string" name="caption"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="empty"/>

	<xs:complexType name="page">
		<xs:sequence>
			<xs:element type="header" name="header"/>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element type="paragraph" name="p" minOccurs="0"/>
					<xs:element type="paragraph" name="pre" minOccurs="0"/>
					<xs:element type="empty" name="br" minOccurs="0"/>
					<xs:element type="image" name="img" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="body">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="page" name="page"/>
				<xs:element type="empty" name="nextpage"/>
				<xs:element type="page" name="page"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
